{{!-- app/templates/bands/band/songs.hbs --}}
{{page-title @model.name " songs | Rock & Roll with Octane" replace=true}}
{{#if this.sortedSongs.length}}
  <ul>
    {{#each this.sortedSongs as |song|}}
      <li class="mb-2" data-test-rr="song-list-item">
        {{song.title}}
        {{!-- <span class="float-right">{{song.rating}}</span> --}}
        <span class="float-right">
           <StarRating
             @rating={{song.rating}}
             @onUpdate={{fn this.updateRating song}}
           />
         </span>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="text-center" data-test-rr="no-songs-text">
    The band has no songs yet.
  </p>
{{/if}}
{{#if this.showAddSong}}
   <div class="flex justify-center mt-2">
     <button
       type="button"
       class="px-4 py-2 rounded bg-purple-600 shadow-md hover:shadow-
lg hover:text-white hover:bg-purple-500 focus:outline-none"
       {{on "click" (set this "showAddSong" false)}}
     >
      Add song
     </button>
   </div>
{{else}}
  <div class="mt-6 flex">
    <input
      type="text"
      class="text-gray-800 bg-white rounded-md py-2 px-4"
      placeholder="Title"
      value={{this.title}}
      data-test-rr='new-song-title'
      {{on "input" this.updateTitle}}
    />
    <button
       type="button"
       class="ml-4 px-4 py-2 rounded bg-purple-600 shadow-md
    hover:shadow-lg hover:text-white"
      data-test-rr="save-song-button"
      {{on "click" this.saveSong}}
    >
      Save
     </button>
     <button
       type="button"
       class="ml-2 px-4 p-2 rounded bg-white border border-bg-
purple-600 shadow-md text-purple-600 hover:shadow-lg"
      {{on "click" this.cancel}}
      >
        Cancel
     </button>
   </div>
{{/if}}